<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/css/style.css' />
  </head>
  <body>
    
    <%if(!user) {%>
      <a href="/users/register">signup</a>
      <a href="/users/login">login</a>


    <%} else {%>
      <h2>hello, <%= user.name%></h2>
      <a href="/users/<%= user.id%>/edit-profile">edit profile</a>
      <a href="/users/logout">logout</a>

      <%if(user.isAdmin){ %>
        <a href="/admin">go to admin</a>
     <% }%>
     <a href="/">Home</a>
    <%}%>
    <%if(favouritesList.length) { %>
    <% favouritesList.forEach(book => { %>
    <div class="book-div">
     <a target="_blank" href="/books/<%= book.id%>"> <img class="book-img" src="/images/books/<%= book.image%>" alt="book-cover"> </a>
     <a target="_blank" href="/books/<%= book.id%>"> <h2><%= book.title%></h2> </a>
      <p>by <%= book.author%></p>
      
      <p>categories: <%book.category.forEach(category => { %>
                        <%= category%>
                      <%})%>
      </p>
          <a href="/books/<%= book.id%>/unfavourite">remove from favourites</a>
    </div>
    <%})%>
    <% } else { %>
    <p>no books available in favourites!! Add some</p>
    <%}%>
  </body>
</html>
