  <%- include("headers")%>
  <body>
    <div class="favourites-list">
      <div class="favourite-wrapper">
        <div class="favourite-books">
          <%if(favouritesList.length) { %>
             <p class="cart-items-no">My Favourites (<%= favouritesList.length%>)</p>
          <% favouritesList.forEach(book => { %>
          <div class="favourite-book">
            <div class="favourite-flex">
              <div class="flex-start fav-book-with-details-col">
                <div class="fav-book-col">
                  <a target="_blank" href="/books/<%= book.id%>"> <img class="book-img" src="/images/books/<%= book.image%>" alt="book-cover"> </a>
                </div>
                <div class="fav-details-col">
                  <a class="book-cart-title" target="_blank" href="/books/<%= book.id%>"> <h2><%= book.title%></h2> </a>
                  <p class="book-cart-author">by <%= book.author%></p>
                  
                  <p class="book-cart-author">categories: <%book.category.forEach(category => { %>
                                    <%= category%>
                                  <%})%>
                  </p>
                  <p class="book-cart-price">Rs. <%=book.price %></p>
                </div>
              </div>
              <div class="fav-remove-col">
                <a class="delete-fav" href="/books/<%= book.id%>/unfavourite"><i title="Remove Frome Favourites" class="fas fa-trash-alt"></i></a>
              </div>
            </div>
          </div>
          <%})%>
          <% } else { %>
          <p>no books available in favourites!! Add some</p>
          <%}%>
  
        </div>
      </div>
    </div>
  </body>
</html>
